@model Taskmato.Models.Task

@{
    ViewBag.Title = "Delete";
}

<div>
    <dl class="dl-horizontal">
        <div class="text-center">
            <img class="mb-4 logo-sm" src="~/Images/TaskmatoLogoTransparent.png" alt="Taskmato" />
            <h4>Delete Task</h4>
            <p class="error">@ViewBag.ErrorMessage</p>
        </div>
        <hr>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="container">
            <div class="row" id="input-row">
                <div class="col-md mx-3 rounded grey">
                    <div class="row">
                        <div class="col form-group text-center">
                            <p><strong>@Html.DisplayNameFor(model => model.Name)</strong></p>
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group text-center">
                            <p><strong>@Html.DisplayNameFor(model => model.Details)</strong></p>
                            @Html.DisplayFor(model => model.Details)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group text-center">
                            <p><strong>@Html.DisplayNameFor(model => model.Pomodoros)</strong></p>
                            @Html.DisplayFor(model => model.Pomodoros)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group text-center">
                            <p><strong>@Html.DisplayNameFor(model => model.Complete)</strong></p>
                            @Html.DisplayFor(model => model.Complete)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="button-row">
                <div class="col-md px-2 pt-3 mx-3 my-3 rounded grey">
                    <div class="row">
                        <div class="col pb-2 text-center">
                            <h4>Are you sure you want to delete this?</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <div class="container-fluid text-center mt-2">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color">
                                        <input type="submit" value="Delete" class="btn btn-light btn-lg pl-4 pr-4" />
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="container-fluid text-center my-2">
                                @Html.ActionLink("Cancel", "Index", "Task", null, new { @class = "btn btn-dark btn-lg pl-4 pr-4" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dl>
</div>