@model Taskmato_2.DTOs.TaskmatoDTO

@{
    ViewBag.Title = "Details";
}

<div>
    <dl class="dl-horizontal">
        <div class="text-center">
            <img class="mb-4 logo-sm" src="~/Images/TaskmatoLogoTransparent.png" alt="Taskmato" />
            <h4>Task Details</h4>
        </div>
        <hr>
        <div class="container">
            <div class="row" id="input-row">
                <div class="col-md mx-3 pt-3 pb-1 rounded grey">
                    <div class="row">
                        <div class="col form-group text-center">
                            <p><strong>@Html.DisplayNameFor(model => model.Name)</strong></p>
                            @Html.DisplayFor(model => model.Name)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group text-center">
                            <p><strong>@Html.DisplayNameFor(model => model.Details)</strong></p>
                            @Html.DisplayFor(model => model.Details)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group text-center">
                            <p><strong>@Html.DisplayNameFor(model => model.Pomodoros)</strong></p>
                            @Html.DisplayFor(model => model.Pomodoros)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group text-center">
                            <p><strong>@Html.DisplayNameFor(model => model.Complete)</strong></p>
                            @Html.DisplayFor(model => model.Complete)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="button-row">
                <div class="col px-2 pt-3 pb-2 mx-3 my-3 text-center rounded grey">
                    <div class="row">
                        <div class="col">
                            <h4>Would you like to edit this task?</h4>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <div class="container text-center">
                                <a class="btn btn-dark btn-lg pl-4 pr-4" asp-controller="Taskmato" asp-action="Edit" asp-route-taskListId="@Model.TaskListId" asp-route-taskmatoId="@Model.TaskmatoId">Edit</a>
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="container text-center">
                                <a class="btn btn-light btn-lg px-4" asp-controller="Taskmato" asp-action="Index" asp-route-taskListId="@Model.TaskListId">Go Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dl>
</div>