@model Taskmato_2.DTOs.TaskmatoDTO

@{
    ViewBag.Title = "Edit";
}

<div class="form-horizontal">
        <div class="text-center">
            <img class="mb-4 logo-sm" src="~/Images/TaskmatoLogoTransparent.png" alt="Taskmato" />
            <h4>Edit Task</h4>
        </div>
        <hr />
    <div class="container">
        <form asp-action="EditConfirmed" method="post" asp-route-taskmatoId="@Model.TaskmatoId" asp-route-taskListId="@Model.TaskListId">
            <div asp-validation-summary="All"></div>
            <div class="row" id="input-row">
                <div class="col-md mx-3 pt-3 pb-1 rounded grey">
                    <div class="row">
                        <div class="col form-group text-center">
                            <p><strong>@Html.DisplayNameFor(model => model.Name)</strong></p>
                            <input type="text" class="form-control mx-auto" asp-for="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group text-center">
                            <p><strong>@Html.DisplayNameFor(model => model.Details)</strong></p>
                            <textarea class="form-control mx-auto" asp-for="Details" rows="3"></textarea>
                            <span asp-validation-for="Details" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group text-center">
                            <p><strong>@Html.DisplayNameFor(model => model.Pomodoros)</strong></p>
                            <input type="text" class="form-control text-center mx-auto" asp-for="Pomodoros" />
                            <span asp-validation-for="Pomodoros" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group text-center">
                            <p><strong>@Html.DisplayNameFor(model => model.Complete)</strong></p>
                            <input type="checkbox" class="form-control text-center mx-auto" asp-for="Complete" />
                            <span asp-validation-for="Complete" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="button-row">
                <div class="col px-2 pt-3 pb-2 mx-3 my-3 text-center rounded grey">
                    <div class="row">
                        <div class="col">
                            <h4>Would you like to save this task?</h4>
                            <hr />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col form-group">
                            <div class="container text-center">
                                <input type="submit" value="Save" class="btn btn-dark btn-lg pl-4 pr-4" />
                            </div>
                        </div>
                        <div class="col form-group">
                            <div class="container text-center">
                                <a class="btn btn-light btn-lg pl-4 pr-4" asp-controller="Taskmato" asp-action="Index" asp-route-taskListId="@Model.TaskListId">Cancel</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
