@model Taskmato_2.DTOs.TaskmatoViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="row">
                <div class="col-md">
                    <div class="container-fluid">
                        <img class="mb-4 mx-auto logo" src="~/Images/TaskmatoLogoTransparent.png" alt="Taskmato" />
                        <div class="mb-2 px-2 rounded grey">
                            <table class="table">
                                @foreach (var item in Model.Taskmatos.Where(x => x.Complete == false))
                                {
                                    <tr class="text-center">
                                        <td>
                                            <a onclick="displayCurrentTask('@item.Name')">@Html.DisplayFor(modelItem => item.Name)</a>
                                        </td>
                                        <td>
                                            <a class="mx-1" asp-controller="Taskmato" asp-action="Edit" asp-route-taskListId="@Model.TaskListId" asp-route-taskmatoId="@item.TaskmatoId">Edit</a>
                                            <a class="mx-1" asp-controller="Taskmato" asp-action="Details" asp-route-taskListId="@Model.TaskListId" asp-route-taskmatoId="@item.TaskmatoId">Details</a>
                                            <a class="mx-1" asp-controller="Taskmato" asp-action="Delete" asp-route-taskListId="@Model.TaskListId" asp-route-taskmatoId="@item.TaskmatoId">Delete</a>
                                        </td>
                                    </tr>
                                }
                                @foreach (var item in Model.Taskmatos.Where(x => x.Complete == true))
                                {
                                    <tr class="text-center text-success">
                                        <td>
                                            <a>@Html.DisplayFor(modelItem => item.Name) &#10003;</a>
                                        </td>
                                        <td>
                                            <a class="mx-1" asp-controller="Taskmato" asp-action="Edit" asp-route-taskListId="@Model.TaskListId" asp-route-taskmatoId="@item.TaskmatoId">Edit</a>
                                            <a class="mx-1" asp-controller="Taskmato" asp-action="Details" asp-route-taskListId="@Model.TaskListId" asp-route-taskmatoId="@item.TaskmatoId">Details</a>
                                            <a class="mx-1" asp-controller="Taskmato" asp-action="Delete" asp-route-taskListId="@Model.TaskListId" asp-route-taskmatoId="@item.TaskmatoId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <hr class="my-4" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="container-fluid text-center mb-2">
                        <a class="btn btn-dark btn-lg pl-4 pr-4" asp-controller="Taskmato" asp-action="Create" asp-route-taskListId="@Model.TaskListId">Add Task</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="row">
                <div class="col-md">
                    <div class="container-fluid rounded text-center mb-3 pomodoro-timer-box">
                        <h1 class="display-4 pt-4" id="timer">00:00</h1>
                        <hr class="my-4">
                        <div class="pb-4">
                            <a class="btn btn-light btn-lg px-5 my-1 custom-btn" href="#" role="button" onclick="runTimer(60 * 25)">Pomodoro</a>
                            <a class="btn btn-dark btn-lg px-5 my-1 custom-btn" href="#" role="button" onclick="runTimer(60 * 5)">Short Break</a>
                            <a class="btn btn-light btn-lg px-5 my-1 custom-btn" href="#" role="button" onclick="resetTimer()">Reset</a>
                            <a class="btn btn-dark btn-lg px-5 my-1 custom-btn" href="#" role="button" onclick="runTimer(60 * 15)">Long Break</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="container-fluid rounded pt-4 pb-4 text-center date-box">
                        <div class="display-4">
                            <h1>Current Task</h1>
                        </div>
                        <hr class="my-4">
                        <h2 onclick="clearCurrentTask()" id="current-task">Click on a task!</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-left">
                    <div class="container">
                        <a asp-controller="TaskList" asp-action="Index">View Task Lists</a>
                    </div>
                </div>
                <div class="col text-right">
                    <div class="container">
                        <a asp-controller="Account" asp-action="LogOut">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
