<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskmato</title>
    <link rel="stylesheet" type="text/css" media="screen,projection" href="~/css/Site.css">

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@
    <script src="~/js/timer.js"></script>

    <style>
        a:hover {
            cursor: pointer;
        }

        .date-box {
            background-color: #e6e6e6;
        }

        .logo {
            max-width: 70%;
            height: auto;
        }

        .logo-sm {
            max-width: 30%;
            height: auto;
        }

        .pomodoro-timer-box {
            background-color: #e6e6e6;
        }

        .grey {
            background-color: #e6e6e6;
        }

        #task-list {
            background-color: #e6e6e6;
        }

        #button-row {
            margin-left: 25%;
            margin-right: 25%;
        }

        #input-row {
            margin-left: 10%;
            margin-right: 10%;
        }

        .custom-btn {
            width: 200px !important;
        }
    </style>
</head>
<body>
    <div class="container body-content">
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["error"].ToString()
            </div>
        }
        else if (TempData["success"] != null)
        {
            <div class="alert alert-success" role="alert">
                @TempData["success"].ToString()
            </div>
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Taskmato</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
