@model List<Taskmato_2.DTOs.TaskListDTO>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md">
            <div class="row">
                <div class="col-md">
                    <div class="container-fluid">
                        <img class="mb-4 mx-auto logo" src="~/images/TaskmatoLogoTransparent.png" alt="Taskmato" />
                        <div class="mb-2 px-2 rounded grey">
                            <table class="table">
                                @foreach (var item in Model)
                                {
                                    <tr class="text-center">
                                        <td>
                                            <label>@item.Date.ToString("MM-dd-yyyy")</label>
                                        </td>
                                        <td>
                                            <a class="btn btn-light mr-2" asp-controller="Taskmato" asp-action="Index" asp-route-taskListId="@item.TaskListId">Open</a>
                                            <a class="btn btn-dark ml-2" asp-controller="TaskList" asp-action="Delete" asp-route-taskListId="@item.TaskListId">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </table>
                        </div>
                        <hr class="my-4" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="container-fluid text-center mb-2">
                        @Html.ActionLink("New List", "Create", "TaskList", null, new { @class = "btn btn-dark btn-lg pl-4 pr-4" })
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md">
            <div class="row">
                <div class="col-md">
                    <div class="container-fluid rounded text-center mb-3 pomodoro-timer-box">
                        <h1 class="display-4 pt-4">Welcome!</h1>
                        <hr class="my-4">
                        <div class="pb-4">
                            <p>Please select a task list to view, or create a new one.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <div class="container-fluid rounded pt-4 pb-4 text-center date-box">
                        <div class="display-4">
                            <h1>Today's Date</h1>
                        </div>
                        <hr class="my-4">
                        <h2 id="date">@DateTime.Now.ToString("MM/dd/yyyy")</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col text-right">
                    <div class="container">
                        <a asp-controller="Account" asp-action="LogOut">Log Out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
